html {
  box-sizing: border-box;
  background-color: #fff;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  display: block;
}

h1 {
  font-size: 1.563em;
  margin: 0.67em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2em 0 0.5em;
  line-height: 1.2;
  font-weight: bold;
}

ul li,
ol li {
  margin-bottom: 0.5em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
header,
input,
a,
tr,
td,
form button,
input[type="submit"],
.btn,
#goog-wm-sb,
.highlight,
.archive__item-teaser {
  transition: all 0.2s ease-in-out;
}

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
  orphans: 3;
  widows: 3;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* main */
body {
  padding: 0;
  color: #494e52;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
    "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  line-height: 1.5;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.initial-content {
  flex: 1 0 auto;
}

.layout--single {
  padding-top: 2em;
}

#main {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  animation: intro 0.3s both;
  max-width: 100%;
  animation-delay: 0.15s;

  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@media (min-width: 80em) {
  #main {
    max-width: 1280px;
  }
}

.sidebar {
  clear: both;

  &::after {
    clear: both;
    content: "";
    display: table;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }

  p,
  li {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
      "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-top: 0;
  }

  img {
    width: 100%;
  }

  img.emoji {
    width: 20px;
    height: 20px;
  }
}

.sidebar > * {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media (max-width: 64em) {
  .sidebar {
    position: relative;
    z-index: 10;
    transform: translate3d(0, 0, 0);
  }
}

@media (min-width: 64em) {
  .sidebar {
    float: left;
    width: calc(200px - 1em);
    opacity: 0.75;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }

    &.sticky {
      overflow-y: auto;
      height: calc(100vh - 2em - 2em);
    }
  }
}

@media (min-width: 80em) {
  .sidebar {
    width: calc(294px - 1em);
  }
}

.sidebar__right {
  margin-bottom: 1em;
}

@media (min-width: 64em) {
  .sticky {
    clear: both;
    position: sticky;
    top: 2em;

    &::after {
      clear: both;
      content: "";
      display: table;
    }

    & > * {
      display: block;
    }
  }
}

@media (min-width: 64em) {
  .sidebar__right {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    margin-right: -200px;
    padding-left: 1em;
    z-index: 10;

    &.sticky {
      clear: both;
      position: sticky;
      top: 2em;
      float: right;

      &::after {
        clear: both;
        content: "";
        display: table;
      }
    }
  }
}

@media (min-width: 80em) {
  .sidebar__right {
    width: 300px;
    margin-right: -300px;
  }
}

// svg
svg:not(:root) {
  overflow: hidden;
}

svg {
  &:not(:root).svg-inline--fa {
    overflow: visible;
  }
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.svg-inline--fa.fa-lg {
  vertical-align: -0.225em;
}

.svg-inline--fa.fa-w-1 {
  width: 0.0625em;
}

.svg-inline--fa.fa-w-2 {
  width: 0.125em;
}

.svg-inline--fa.fa-w-3 {
  width: 0.1875em;
}

.svg-inline--fa.fa-w-4 {
  width: 0.25em;
}

.svg-inline--fa.fa-w-5 {
  width: 0.3125em;
}

.svg-inline--fa.fa-w-6 {
  width: 0.375em;
}

.svg-inline--fa.fa-w-7 {
  width: 0.4375em;
}

.svg-inline--fa.fa-w-8 {
  width: 0.5em;
}

.svg-inline--fa.fa-w-9 {
  width: 0.5625em;
}

.svg-inline--fa.fa-w-10 {
  width: 0.625em;
}

.svg-inline--fa.fa-w-11 {
  width: 0.6875em;
}

.svg-inline--fa.fa-w-12 {
  width: 0.75em;
}

.svg-inline--fa.fa-w-13 {
  width: 0.8125em;
}

.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}

.svg-inline--fa.fa-w-15 {
  width: 0.9375em;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}

.svg-inline--fa.fa-w-17 {
  width: 1.0625em;
}

.svg-inline--fa.fa-w-18 {
  width: 1.125em;
}

.svg-inline--fa.fa-w-19 {
  width: 1.1875em;
}

.svg-inline--fa.fa-w-20 {
  width: 1.25em;
}

.svg-inline--fa.fa-pull-left {
  margin-right: 0.3em;
  width: auto;
}

.svg-inline--fa.fa-pull-right {
  margin-left: 0.3em;
  width: auto;
}

.svg-inline--fa.fa-border {
  height: 1.5em;
}

.svg-inline--fa.fa-li {
  width: 2em;
}

.svg-inline--fa.fa-fw {
  width: 1.25em;
}

// social
.social-icons {
  .fas {
    color: #494e52;
  }

  .fab {
    color: #494e52;
  }

  .far {
    color: #494e52;
  }

  .fal {
    color: #494e52;
  }

  .fa-behance {
    color: #1769ff;
  }

  .fa-behance-square {
    color: #1769ff;
  }

  .fa-bitbucket {
    color: #205081;
  }

  .fa-dribbble {
    color: #ea4c89;
  }

  .fa-dribble-square {
    color: #ea4c89;
  }

  .fa-facebook {
    color: #3b5998;
  }

  .fa-facebook-square {
    color: #3b5998;
  }

  .fa-facebook-f {
    color: #3b5998;
  }

  .fa-flickr {
    color: #ff0084;
  }

  .fa-foursquare {
    color: #0072b1;
  }

  .fa-github {
    color: #171516;
  }

  .fa-github-alt {
    color: #171516;
  }

  .fa-github-square {
    color: #171516;
  }

  .fa-gitlab {
    color: #e24329;
  }

  .fa-instagram {
    color: #517fa4;
  }

  .fa-keybase {
    color: #ef7639;
  }

  .fa-lastfm {
    color: #d51007;
  }

  .fa-lastfm-square {
    color: #d51007;
  }

  .fa-linkedin {
    color: #007bb6;
  }

  .fa-linkedin-in {
    color: #007bb6;
  }

  .fa-mastodon {
    color: #2b90d9;
  }

  .fa-mastodon-square {
    color: #2b90d9;
  }

  .fa-pinterest {
    color: #cb2027;
  }

  .fa-pinterest-p {
    color: #cb2027;
  }

  .fa-pinterest-square {
    color: #cb2027;
  }

  .fa-reddit {
    color: #ff4500;
  }

  .fa-rss {
    color: #fa9b39;
  }

  .fa-rss-square {
    color: #fa9b39;
  }

  .fa-soundcloud {
    color: #f30;
  }

  .fa-stack-exchange {
    color: #fe7a15;
  }

  .fa-stack-overflow {
    color: #fe7a15;
  }

  .fa-tumblr {
    color: #32506d;
  }

  .fa-tumblr-square {
    color: #32506d;
  }

  .fa-twitter {
    color: #55acee;
  }

  .fa-twitter-square {
    color: #55acee;
  }

  .fa-vimeo {
    color: #1ab7ea;
  }

  .fa-vimeo-square {
    color: #1ab7ea;
  }

  .fa-vimeo-v {
    color: #1ab7ea;
  }

  .fa-vine {
    color: #00bf8f;
  }

  .fa-youtube {
    color: #b00;
  }

  .fa-xing {
    color: #006567;
  }

  .fa-xing-square {
    color: #006567;
  }
}

// author
.author__avatar {
  display: table-cell;
  vertical-align: top;
  //   width: 36px;
  //   height: 36px;

  img {
    // max-width: 110px;
    max-width: 208px;
    // border-radius: 50%
  }
}

@media (min-width: 64em) {
  .author__avatar {
    display: block;
    width: auto;
    height: auto;

    // img {
    //   padding: 5px;
    //   border: 1px solid #f2f3f3;
    // }
  }
}

.author__content {
  display: table-cell;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 25px;
  line-height: 1;
  display: none;

  a {
    color: inherit;
    text-decoration: none;
  }
}

@media (min-width: 64em) {
  .author__content {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.author__name {
  margin: 0;
}

@media (min-width: 64em) {
  .author__name {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.sidebar .author__name {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
    "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  font-size: 1em;
}

.author__bio {
  margin: 0;
}

@media (min-width: 64em) {
  .author__bio {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.author__urls-wrapper {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 10;

  button {
    margin-bottom: 0;
  }

  li:last-child a {
    margin-bottom: 0;
  }
}

@media (min-width: 64em) {
  .author__urls-wrapper {
    display: block;

    button {
      display: none;
    }
  }
}

.author__urls {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 15px;
  padding: 10px;
  list-style-type: none;
  border: 1px solid #f2f3f3;
  border-radius: 4px;
  background: #fff;
  z-index: -1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: default;

  &.is--visible {
    display: block;
  }

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: -11px;
    left: calc(50% - 10px);
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f2f3f3 transparent;
    z-index: 0;
  }

  &:after {
    display: block;
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #fff transparent;
    z-index: 1;
  }

  li {
    white-space: nowrap;
  }

  a {
    display: block;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: inherit;
    font-size: 1em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (min-width: 64em) {
  .author__urls {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    box-shadow: none;

    &:before {
      display: none;
    }

    &:after {
      display: none;
    }
  }
}

// article

@media (min-width: 64em) {
  .page {
    float: right;
    width: calc(100% - 200px);
    padding-right: 200px;
  }
}

@media (min-width: 80em) {
  .page {
    width: calc(100% - 300px);
    padding-right: 300px;
  }
}

.page {
  .page__inner-wrap {
    float: left;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;

    .page__content {
      position: relative;
      float: left;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      clear: both;
    }

    .page__meta {
      position: relative;
      float: left;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      clear: both;
    }

    .comment__date {
      position: relative;
      float: left;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      clear: both;
    }

    .page__share {
      position: relative;
      float: left;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      clear: both;
    }
  }
}

.page__title {
  margin-top: 0;
  line-height: 1;
}

.page__title + .page__meta {
  margin-top: -0.5em;
}

.page__title + .comment__date {
  margin-top: -0.5em;
}

.page__content {
  p {
    font-size: 1em;
    margin: 0 0 1.3em;
  }

  li {
    font-size: 1em;
  }

  dl {
    font-size: 1em;
  }
}

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 64em) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 80em) {
  html {
    font-size: 22px;
  }
}

blockquote {
  border-left: 3px solid #eee;
  padding-left: 10px;
  font-style: normal;
  margin-left: 20px;
}

.btn,
#goog-wm-sb {
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
    "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-width: 0;
  border-radius: 4px;
  cursor: pointer;
  z-index: 11;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn--inverse {
  background-color: #fff;
  color: #494e52;
  border: 1px solid #f2f3f3;
}

.d-block {
  display: block;
}
